<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [2]:
print('In this notebook, Data Science Tools and Ecosystem are summarized.')

In this notebook, Data Science Tools and Ecosystem are summarized.

In [16]:
#**Objectives:**

print('''- languages for Data Science
-  libraries used in Data Science
- Introduce arithmetic expression
- Convert minutes to hours using Python
- Demonstrate how to create markdown cells in Jupyter Notebook''')

- languages for Data Science
-  libraries used in Data Science
- Introduce arithmetic expression
- Convert minutes to hours using Python
- Demonstrate how to create markdown cells in Jupyter Notebook

In [8]:
# Data Science Tools and Ecosystem

print('Some of the popular languages that Data Scientists use are:')
print('''
      1.Python
      2.R
      3.Julia''')
print('''Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
''')

Some of the popular languages that Data Scientists use are:

      1.Python
      2.R
      3.Julia
Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

In [11]:
print('''| Data Science Tools |
|--------------------|
| Tool 1  R studio                   |
| Tool 2  Jupyter Notebook           |
| Tool 3  Apache Spark               |''')

| Data Science Tools |
|--------------------|
| Tool 1  R studio                   |
| Tool 2  Jupyter Notebook           |
| Tool 3  Apache Spark               |

In [13]:
### Below are a few examples of evaluating arithmetic expressions in Python
# This is a simple arithmetic expression to multiply then add integers.
result = (3*4) + 5
print(result)

17

In [14]:

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

In [17]:
##Author
print('Rafaey Ahmad')

Rafaey Ahmad